.vscode/
.idea/
.git/
.github/
.husky/

**/.gitignore
.prettier*

README.md

**/compose*.yml
**/compose*.yaml
**/docker-compose*.yml
**/docker-compose*.yaml
**/Dockerfile**

deploy/
!deploy/Caddyfile-https
!deploy/Caddyfile-http
